<% label = "#{effect_name}-direction" %>
<fieldset class="mt-12">
  <ul class="flex justify-evenly">
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="size-4 m-1" type="radio" id="<%= label %>_up" name="<%= label %>" value="up" checked/>
      <label class="cursor-pointer" for="<%= label %>_up">Up</label>
    </li>
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="size-4 m-1" type="radio" id="<%= label %>_down" name="<%= label %>" value="down" />
      <label class="cursor-pointer" for="<%= label %>_down">Down</label>
    </li>
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="size-4 m-1" type="radio" id="<%= label %>_left" name="<%= label %>" value="left" />
      <label class="cursor-pointer" for="<%= label %>_left">Left</label>
    </li>
    <li>
      <input data-direction-target="direction" data-action="click->direction#select" class="size-4 m-1" type="radio" id="<%= label %>_right" name="<%= label %>" value="right" />
      <label class="cursor-pointer" for="<%= label %>_right">Right</label>
    </li>
  </ul>
</fieldset>