<!DOCTYPE html>
<html>
  <head>
    <title>Rails Scroll Effects</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto">
      <div class="flex h-screen w-full flex-col items-center justify-center gap-6">
        <h1 class="text-4xl font-medium sm:text-5xl">Rails Scroll Effects</h1>
        <a href="https://github.com/agustinlopez9/rails-scroll-effects" rel="noopener noreferrer" target="_blank">
          <%= icon "github-logo", class: "block size-8 transition-all hover:text-rose-600" %>
        </a>
      </div>
      <div class="w-full px-12 py-4">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
